@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">CRUD MVC</h1>
    <p>Desenvolvida aplicação dotnet MVC Entity Framework com banco de dados SQL Server.</p>
    <p>Na aplicação é possivel: Incluir, Editar, Deletar, Listar e Buscar tarefas.</p>
    <p> Clique no botão abaixo para acessar a lista de terefas.</p>
    <a class="btn btn-primary active bi-list" asp-controller="Tarefa" asp-action="Index"> Listar Terfa</a>
    
</div>
